* @Carrera-Dev-Consulting/Devlers

.github/ @Carrera-Dev-Consulting/Devops
CODEOWNERS @Carrera-Dev-Consulting/Devops
LICENSE @Carrera-Dev-Consulting/Devops
SECURITY.md @Carrera-Dev-Consulting/Devops
CODE_OF_CONDUCT @Carrera-Dev-Consulting/Devops